@import url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2102@1.0/MapoGoldenPier.css');

@font-face {
  font-family: "MapoGoldenPier";
  font-weight: normal;
  src: url("./fonts/MapoGoldenPier.ttf") format("truetype");
}

@font-face {
  font-family: "MapoFlowerIsland";
  font-weight: normal;
  src: url("./fonts/MapoFlowerIsland.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: 'MapoFlowerIsland';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
