  .tarot-purple-couple {
    background-color: rgb(54, 23, 97);
    color: #fff;
    overflow: hidden;
    position: relative;
    height: 100vh;
    background-image: url('../components/커플 타로 넙죽이/커플 넙죽이(주파수).png'); /* 배경 이미지 설정 */
    background-size: 50%; /* 배경 이미지 크기 조정 */
    background-position: calc(43% + 10%)  100%; /* 배경 이미지 위치 조정 */
    background-repeat: no-repeat;
  }
  
  .black-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  
  .container-couple {
    width: 70%;
    margin: 0 auto;
    border: 0px solid lightpink;
    padding: 30px;
    position: relative;
    height: 90%;
    text-align: center;
    box-shadow: 0 0 5px rgba(237, 240, 77, 0.1);
  }

  .instruction-text {
    font-size: 24px;
    margin-bottom: 20px;
}
  .header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(4);
  }
  
  .circle {
    border: 0px solid #000;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 3;
  }
  
  .circle img {
    width: 150px;
    height: auto;
  }


  .cards-spread-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100px;
    margin-top: 20px;
  }

  .card-spread {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100vh; /* 화면 전체 높이 사용 */
    overflow: hidden;
  }
  .card-wrapper {
    /* 클릭 가능한 영역 확장 */
    width: 120px;  /* 카드 이미지보다 넓게 설정 */
    height: auto; /* 카드 이미지보다 높게 설정 */
    cursor: pointer;
    /* 필요하다면 투명한 배경을 추가하여 영역 확인 가능:
    background-color: rgba(0, 0, 0, 0.1);
    */
    /* transform: scale(1.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease; */
    z-index: 10;
  }
  .card-wrapper:hover .tarot-card-couple {
    transform: translateY(-30px);
    box-shadow: 0 10px 20px rgb(255, 255, 255);
  }

.tarot-card-couple {
  width: 57px;
    height: 95px;
    background-size: 350%;
    background-position: center;
    background-repeat: no-repeat;
    margin: 5px;
    cursor: pointer;
    perspective: 1000px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    z-index: 6;
    position: relative;
    box-shadow: 0 0 1px rgba(243, 236, 54, 0.1), 0 0 10px rgba(237, 240, 77, 0.1),
      0 0 15px rgba(245, 223, 62, 0.187);
}

  .cards-spread-couple {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 100%;
    height: 200px;
    margin-bottom: 20px;

}
/* .card-spread {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100vh;
}*/

  .drop-zone-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 50vh;
  }

  .drop-zone {
    border: 2px dashed white;
    width: 200px;
    height: 300px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heart-drop-zone {
  position: absolute;
  width: 50%;
  height: 60%;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.heart-placeholder {
  width: 70px;
  height: 110px;
  border: 2px dashed white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: rgba(255, 255, 255, 0.8);
  opacity: 0.5;
}

.heart-placeholder-right {
  width: 70px;
  height: 110px;
  border: 2px dashed rgb(240, 110, 110);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: rgba(255, 255, 255, 0.8);
  opacity: 0.5;
}

.heart-placeholder-left {
  width: 70px;
  height: 110px;
  border: 2px dashed rgb(106, 91, 225);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: rgba(255, 255, 255, 0.8);
  opacity: 0.5;
}

.heart-placeholder:nth-child(1) { top: 100px; left: 50%; transform: translateX(-50%); }
.heart-placeholder:nth-child(2) { top: 0px; left: 20%; }
.heart-placeholder:nth-child(3) { top: 0px; right: 20%; }
.heart-placeholder:nth-child(4) { top: 150px; left: 0%; }
.heart-placeholder:nth-child(5) { top: 150px; right: 0%; }
.heart-placeholder:nth-child(6) { bottom: 120px; left: 20%; }
.heart-placeholder:nth-child(7) { bottom: 120px; right: 20%; }
.heart-placeholder:nth-child(8) { bottom: 0px; left: 50%; transform: translateX(-50%); }

.card {
      width: 60px;
      height: 100px;
      background-color: #ccc;
      margin: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;}

.drop-placeholder {
    font-size: 18px;
    color: white;
}


.card-drop {
  width: 60px;
  height: 100px;
  background-size: cover;
  background-color: #ccc;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;    
  box-shadow: 2px 2px 20px rgb(255, 255, 255);
}

.card-drop.red {
  background-color: rgb(249, 133, 133);
}
  
.highlighted {
  border-color: yellow;
}
  .tarot-meaning {
    top: 40px;
    left: 60%;
  }
  
  .tarot-meaning img {
    width: 200px;
    height: auto;
  }
  
  .today-fortune {
    top: 40px;
    left: 70%;
  }
  
  .couple-tarot {
    top: 40px;
    left: 80%;
  }
  
.drop-placeholder {
  font-size: 14px;
  color: rgb(255, 255, 255);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none; 
  opacity: 0.5; 
} 
  
  .reveal-btn-couple {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #b275c6;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .reveal-btn:hover {
    background-color: #ffd700;
  }
  
  .selection-options {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .selection-btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #6a4c93;
    color: white;
    border: 1px solid #6a4c93;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
    transition: background-color 0.3s ease;
  }
  
  .selection-btn:hover {
    background-color: #523c7a;
  }

  .instruction-text {
    color: #fff;
    text-align: center;
    margin-top: 100px;
    font-size: 18px;
    z-index: 3;
    position: relative;
  }
  
  .card-selection-container {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 70px;
    height: auto;
    z-index: 4;
  }
  
  .card-selection-img {
    width: 100%;
    height: auto;
  }

  /* @media (max-width: 768px) {
    .leftpattern-img {
      width: 15%;
      max-width: 80px;
    }
  } */
  
    