.tarot-purple {
    background-color: rgb(54, 23, 97);
    color: #fff;
    position: relative;
    height: 100%;
    min-height: 100vh;
    width: 100vw;
    overflow: hidden;
  }
  
  .black-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  /* Todayfortune.css */
  
  
  .cards-spread-coupledetail {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 50px;
  }
  
  .selected-card-coupledetail {
    position: relative;
    height: auto;
    z-index: 5;
    transform: translateY(-50%);
  }
  
  .selected-card img {
    width: 100%;
  }
  
  .interpretation-box-coupleleft {
    background-color: rgba(255, 255, 255, 0.498);
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 25%;
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
  }

  .interpretation-box-coupleright {
    background-color: rgba(140, 140, 140, 0.801);
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 25%;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
  }

  .interpretation-box-in-couple {
    display: flex;
    flex-direction: column; /* 이미지와 텍스트를 row로 배치 */
    align-items: center; /* 세로 정렬 */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}
  
.container-coupledetail {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%; /* 필요에 따라 조정 */
    padding: 10px;
    box-sizing: border-box;
}

.heart-zone {
    position: relative;
    width: 55vw;
    height: 60vh;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.cards-spread-coupledetail {
    position: relative;
    width: 60%;
    height: 100%;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.heart-placeholder {
    width: 70px;
    height: 110px;
    border: 2px dashed white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: rgba(255, 255, 255, 0.8);
    opacity: 0.5;
}

.heart-placeholder-right {
    width: 70px;
    height: 110px;
    border: 2px dashed rgb(240, 110, 110);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: rgba(255, 255, 255, 0.8);
    opacity: 0.5;
}

.heart-placeholder-left {
    width: 70px;
    height: 110px;
    border: 2px dashed rgb(106, 91, 225);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: rgba(255, 255, 255, 0.8);
    opacity: 0.5;
}

.heart-placeholder:nth-child(1) { top: 20%; left: 50%; transform: translateX(-50%); }
.heart-placeholder:nth-child(2) { top: 0%; left: 20%; }
.heart-placeholder:nth-child(3) { top: 0px; right: 20%; }
.heart-placeholder:nth-child(4) { top: 30%; left: 0%; }
.heart-placeholder:nth-child(5) { top: 30%; right: 0%; }
.heart-placeholder:nth-child(6) { bottom: 120px; left: 20%; }
.heart-placeholder:nth-child(7) { bottom: 120px; right: 20%; }
.heart-placeholder:nth-child(8) { bottom: 0%; left: 50%; transform: translateX(-50%); }

.tarot-card-coupledetail {
  width: 50%;
  background-size: 350%;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  perspective: 1000px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  z-index: 6;
  position: relative;
  border-radius: 3px;
  box-shadow: 0 0 1px rgba(243, 236, 54, 0.1), 0 0 10px rgba(237, 240, 77, 0.1),
    0 0 15px rgba(245, 223, 62, 0.187);
    margin-right: 3%;
    
}

.tarot-card {
    width: 60px;
    height: 90px;
    background-color: #ccc;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
  h1 {
    text-align: center;
    color: white;
  }
  