/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  } */
  
  .tarot-purple {
    background-color: rgb(54, 23, 97);
    color: #fff;
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.black-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
  
  .container-four {
    width: 90%;
    margin: 0 auto;
    border: 0px solid lightpink;
    padding: 10px;
    position: relative;
    height: 90%;
    box-sizing: border-box;
    box-shadow: 0 0 5px rgba(237, 240, 77, 0.1);
  }
  
  .header-four {
    display: inline-block;
    width: 150px;
    height: 75px;
    margin: 10px;
    overflow: hidden;
    position: absolute;
    top: 20px;
    left: 20px;
  }
  
  .header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(4);
  }
  
  .circle {
    border: 0px solid #000;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 3;
  }
  
  .circle img {
    width: 150px;
    height: auto;
  }
  
  .tarot-meaning {
    top: 40px;
    left: 60%;
  }
  
  .tarot-meaning img {
    width: 200px;
    height: auto;
  }
  
  .today-fortune {
    top: 40px;
    left: 70%;
  }
  
  .couple-tarot {
    top: 40px;
    left: 80%;
  }
  
  .card-container {
    position: relative;
    cursor: pointer;
}
  
  
  .cards-container-four {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 45%;
    margin-top: 10px;
    margin-bottom: 20px;
    position: relative;
    z-index: 5;
  }
  
  .card-image-four {
    width: 200px;
    height: auto;
    background-size: 350%;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    perspective: 1000px;
    transition: transform 0.6s;
    z-index: 6;
    position: relative;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(237, 240, 77, 0.1), 0 0 10px rgba(237, 240, 77, 0.1),
      0 0 15px rgba(237, 240, 77, 0.1);
  }

  .card-container:hover .card-image-four {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
    transition: transform 0.3s ease-in-out;
}

    .card-text {
        /* position: absolute; */
        z-index: 2;
        font-size: 1.5rem;
        color: #85676a;
        font-weight: bold;
        text-align: center;
    }
  
  .card.tilted {
    transform: rotate(15deg);
    z-index: 7;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.1),
      0 0 10px rgba(255, 255, 255, 0.1), 0 0 15px rgba(255, 255, 255, 0.1),
      0 0 20px rgba(255, 255, 255, 0.1);
  }
  
  .leftpattern-img {
    position: absolute;
    top: 20px;
    left: -300px;
    margin-left: 3px;
    z-index: 2;
  }
  
  .pattern-img {
    width: 100%;
    height: auto;
    max-width: 550px;
  }
  
  .rightpattern-img {
    position: absolute;
    top: 150px;
    right: -387px;
    margin-right: 3px;
    z-index: 2;
  }
  
  .pattern-img-r {
    width: 70%;
    height: auto;
    max-width: 550px;
  }
  
  .line-img {
    width: 100%;
    height: auto;
    max-width: 400px;
  }
  
  .rightline-img {
    position: absolute;
    top: 5%;
    right: 0;
    transform: translateY(-50%);
    z-index: 2;
  }
  
  #reveal-button {
    display: block;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
  }

  .options-container {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20vh;
    gap: 20px;
  }
  
  .screen-four {
    display: none;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100vh; /* 화면 전체 높이를 사용하여 가운데 정렬 */
    position: absolute;

  }
  
  .screen.active {
    width: 100%;
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: absolute;
  }
  .screen.active h1{
    font-size: 2rem;
    color: #d4c9ca;
  }
  
  .selection-options {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 20%;
    gap: 100px;

  }
  
  .selection-btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #6a4c93;
    color: white;
    border: 1px solid #6a4c93;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
    transition: background-color 0.3s ease;
  }
  
  .selection-btn:hover {
    background-color: #523c7a;
  }
  
  .subject-image {
    margin-top: 15vh;
    text-align: center;
  }
  
  .subject-image img {
    width: 200px;
    height: auto;
  }
  
  .instruction-text {
    color: #fff;
    text-align: center;
    margin-top: 100px;
    font-size: 18px;
    z-index: 3;
    position: relative;
  }
  
  .card-selection-container {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 70px;
    height: auto;
    z-index: 4;
  }
  
  .card-selection-img {
    width: 100%;
    height: auto;
  }
  
  .reveal-btn {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #6a4c93;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .reveal-btn:hover {
    background-color: #523c7a;
  }
  
  @media (max-width: 768px) {
    .leftpattern-img {
      width: 15%;
      max-width: 80px;
    }
  }
  