.tarot-purple {
    background-color: rgb(54, 23, 97);
    color: #fff;
    position: relative;
    height: 100%;
    min-height: 100vh;
    width: 100vw;
    overflow: hidden;
  }
  
  .black-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  /* Todayfortune.css */
  
  
  .cards-spread-generaldetail {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 10vh;
    height: 50px;
  }
  
  .selected-card-generaldetail {
    position: relative;
    width: 120px;
    height: auto;
    z-index: 5;
    transform: translateY(-50%);
  }
  
  .selected-card img {
    width: 100%;
    border-radius: 10px;
  }
  
  .interpretation-box {
    background-color: rgba(255, 255, 255, 0.498);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin-top: 3vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 60%;
  }
  .interpretation-box-in {
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    align-items: row;
    margin-top: 3vh;  
  }
  
  .container-generaldetail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%; /* 필요에 따라 조정 */
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 20px; /* cards-spread-generaldetail 아래에 배치 */
}
  
  h1 {
    text-align: center;
    color: white;
  }
  