
.tarot-purple-mypage {
    background-color: rgb(54, 23, 97);
    color: #fff;
    position: relative;
    height: 100vh; /* 화면 높이를 100vh로 설정 */
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
}

.black-overlay-mypage {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../components/mypage_background3.jpg'); /* 배경 이미지 설정 */
    background-size: cover; /* 배경 이미지 크기 조정 */
    background-position: center; /* 배경 이미지 위치 조정 */
    background-repeat: no-repeat;
}

.main-title-left-mypage {
    width: 150px;
    margin-top: 2vh;
    cursor: pointer;
    z-index: 10; /* 다른 요소보다 위에 표시되도록 설정 */
  
  
  }
  
  .main-title-text-left-mypage {
    position: absolute;
    top: 1vh; /* 화면 상단에서 10px 아래에 배치 */
    left: 1vw; /* 화면 왼쪽에서 10px 오른쪽에 배치 */
    width: 20%;
    cursor: pointer;
    z-index: 10; /* 다른 요소보다 위에 표시되도록 설정 */
  }
  



.mypage-container {
    width: 18%; /* 너비 조정 */
    height: 30%; /* 높이 조정 */
    padding: 50px;
    text-align: center;
    box-shadow: 0 0 30px rgb(255, 255, 255);
    background-image: url('../components/mypage_back2.png'); /* 배경 이미지 설정 */
    background-size: contain; /* 배경 이미지 크기 조정 */
    background-position: center; /* 배경 이미지 위치 조정 */
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2; /* Ensure it is above the overlay */
    animation: shine 1.5s infinite; /* 애니메이션 적용 */
}

@keyframes shine {
    0% {
        box-shadow: 0 0 30px rgb(255, 255, 255);
    }
    50% {
        box-shadow: 0 0 60px rgb(255, 255, 255);
    }
    100% {
        box-shadow: 0 0 30px rgb(255, 255, 255);
    }
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-image {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 7%;
}

.info p {
    font-size: 15px;
    margin: 5px 0;
    color: white;
}

.info strong {
    color: white;

}

.neob-container {
    position: absolute;
    left: 50%; /* 오른쪽으로 이동 */
    bottom: 7%; /* 아래쪽으로 이동 */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.neob-image {
    width: 70%; /* neob 이미지 크기 조정 */
    height: auto;
    margin-top: 20px;
}

.speech-bubble {
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    border-radius: 10px;
    padding: 10px;
    color: black;
    font-size: 14px;
    width: 150px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

